<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>719337826770-47e9dr85s8rlk6flacm08h6jr4onksjk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.719337826770-47e9dr85s8rlk6flacm08h6jr4onksjk</string>
	<key>API_KEY</key>
	<string>AIzaSyAt6r00AtnnGIcNGCjovOnxBkeVXNFuO9k</string>
	<key>GCM_SENDER_ID</key>
	<string>719337826770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Reltaro.conpany.TwitterSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>swiftui-twitter-8c06b</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-twitter-8c06b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719337826770:ios:7fc771571f0a52f887c00b</string>
</dict>
</plist>